h1{
    font-family: 'DM Serif Display', serif;
    font-size: 6rem;
}
a{
    color: inherit;
}
.sources, .articles{
    display: flex;
    flex-wrap: wrap;
}
.header{
    height: 100%;
    position: fixed;
}
.col-md-3{
    background-color: #6F1D1B;
    padding-left: 2%;
    color: white;
}
.row{
    position: relative;
}
.col-md-9{
    padding-left: 1%;
    padding-right: 1%;
    float: right;
}
.footer{
    position: absolute;
    bottom: 0;
    left: 32%;
}
form input, form button{
    background-color: transparent;
}
input{
    border-left: transparent;
}
.btn{
    border-color:inherit;
}