h1{
    font-family: 'DM Serif Display', serif;
    font-size: 6rem;
    text-shadow: 0 12px 22px rgba(0, 0, 0, 0.35);
}
a{
    color: inherit;
}
a:hover, a:visited{
    text-decoration: none;
}
.sources, .articles{
    display: flex;
    flex-wrap: wrap;
}
.sources a:hover, .sources a:visited, .articles a:hover, .articles a:visited{
    color: #6F1D1B;
}
.header{
    height: 100%;
    position: fixed;
}
.col-md-3{
    background-color: #6F1D1B;
    padding-left: 2%;
    color: white;
}
.col-md-3 a:hover{
    color: white;
}
.row{
    position: relative;
}
.col-md-9{
    padding-left: 1%;
    padding-right: 1%;
    float: right;
}
.footer{
    position: absolute;
    bottom: 0;
    left: 32%;
}
form input, form button{
    background-color: transparent;
}
form input{
    border-bottom: 2px dotted;
}
.btn{
    border-width: 0px;
}
h3{
    font-size: 3rem;
    color: #6F1D1B;
    font-family: 'Playfair Display', serif;
}
hr{
    width: 70%
}
