.card {
    margin: 1%;
    margin-bottom: 3%;
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

.card .card-title {
    font-size: 2.7rem;
    font-family: 'Playfair Display', serif;
}

.language {
    float: right;
    margin-right: 1rem;
    font-size: 1.5rem;
    display: inline-flex;
}

